/**
* This custom schema namespace implements a custom type for checking inputs for metapipeline-DNA
*/
custom_schema_types {
    /**
    * Check if proper entry list
    */
    check_readable_list = { Map options, String name, Map properties ->
        custom_schema_types.check_if_list(options[name], name)
        for (item in options[name]) {
            if (!custom_schema_types.is_string(item)) {
                throw new Exception("Value `${item}` given for param ${name} is not a String.")
            }
            schema.check_path(item, 'r')
        }
    }

    types = [
        'ReadableList': custom_schema_types.check_readable_list
    ]
}
